.app{
  text-align:center ;
  padding: 50px;
  min-height: 100vh;
  transition: all 1.5s ease;

}
.app.red{
  background-color:rgb(29, 31, 31);
  color:#eee9e9
}
.app.dark{
   background-color: #eb4040;
   color:#f9f9f9
}
button{
  padding:10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor:pointer
}
