body {
  background: #f4f4f4;
  font-family: Arial;
}

.container {
  width: 500px;
  margin: auto;
  background: white;
  padding: 20px;
  margin-top: 30px;
  border-radius: 10px;
}

.form input,
.search {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.delete {
  background: red;
}

.book-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #eee;
  margin: 5px 0;
  border-radius: 5px;
}
