body {
  background-color: #f0f0f0;
}

.book-container {
  background-color: black;
  color: white;
  width: 200px;
  padding: 20px;
  margin: 50px auto;
  font-family: Arial, sans-serif;
  border-radius: 5px;
}

.book-container h3 {
  margin-top: 0;
  font-weight: normal;
}

.book-container ol {
  padding-left: 20px;
}

.book-container li {
  font-weight: bold;
}
